<!-- See
     https://code.djangoproject.com/wiki/DosAndDontsForApplicationWriters -->
{% load static %}

<head>
  <script type="text/javascript"
	  src="{% static "jquery/js/jquery-2.1.3.min.js" %}"></script>
  <script type="text/javascript"
	  src="{% static "bootstrap-3.3.2-dist/js/bootstrap.min.js" %}">
  </script>
  <script type="text/javascript"
	  src="{% static "bootstrap-table-1.12.1/bootstrap-table.min.js" %}">
  </script>
  <link rel="stylesheet" type="text/css"
	href="{% static "bootstrap-3.3.2-dist/css/bootstrap.min.css" %}"/>
  <link rel="stylesheet" type="text/css"
	href="{% static "bootstrap-table-1.12.1/bootstrap-table.min.css" %}"/>

  {% block extrahead %}
  {% endblock %}
</head>

<body style="margin:4em">
  {% block content %}
  {% endblock %}
</body>
